@import url('https://fonts.googleapis.com/css2?family=Medula+One&family=Pirata+One&family=Spinnaker&display=swap');

:root {
    --dark-color: #07062E;
    --light-color: #7fa4bc;
    --off-white: #ececf1;
}

.heading {
    font-family: 'Pirata One', cursive;
}

.subheading {
    font-family: 'Medula One', cursive;
}

.text {
    font-family: 'Spinnaker', sans-serif;
}

#ui-bar-history {
    display:none;
}

br {
    display:none;
}

body {
  
  font-family: 'Spinnaker', sans-serif;
  line-height: 1.5;
  background-color: var(--off-white);
}

#ui-bar {
    background-color: var(--light-color);
    color: var(--dark-color);
}

#ui-bar #menu li a {
    color: var(--dark-color);
    font-family: 'Spinnaker', sans-serif;
}

#ui-bar-toggle {
    border:none;
}

#ui-bar button {
    color:black;
}

h1 {
    font-family: 'Pirata One', cursive;
    font-size: 3rem;
    text-align: center;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Medula One', cursive;
    font-size: rem;
    line-height:1.2;
    margin: 0;
    padding: 0;
    color: var(--dark-color);
    margin-bottom:1.5rem;
}

@media screen and (min-width: 60rem) {
    h2 {
        font-size: 3rem;
    }
}

label {
    font-family: 'Spinnaker', sans-serif;
    color: var(--dark-color);
    font-size: 1rem;
}

@media screen and (min-width: 60rem) {
    label {
        font-size: 1.5rem;
    }
}

#draggables {
    margin-top:1rem;
}

#droppables .droppable:not(:first-child),
#draggables .draggable:not(:first-child) {
    margin-top:.25rem;
}

.hidden {
    display: none;
}

p {
    color: var(--dark-color);
}

#droppables h3 {
    color: var(--dark-color);
    margin-bottom:0;
    line-height: 1.2;
}


.droppable::before {
    content: attr(data-label);
    position: absolute; 
    top: 0;
    left: 0;
    padding: 0;
    width:3rem;
    height:100%;
    background-color: var(--dark-color);
    color: var(--off-white);
    font-weight: bold;
    text-align:center;
    line-height: 2.7rem;
}

.draggable {
    min-height: 2rem;
    padding: .25rem;
    border: 1px solid var(--dark-color);
    cursor: pointer;
    background-color: #f4f4f4;
    color: var(--dark-color);
    position: relative; 
}

.draggable p {
    margin:.5rem 0;
    position: relative;
    padding-left: 1rem;
}

.draggable p:before {
    content: "\E83F";
    font-family: tme-fa-icons!important;
    font-style: normal;
    font-weight: 900;
    font-variant: normal;
    line-height: 1.5;
    position:absolute;
    left:0;
    top:0;
    font-size:1rem;
    color: var(--dark-color);
}

.droppable {
    min-height: 2.7rem;
    padding: .25rem .25rem .25rem 3rem;
    border: 2px dashed var(--dark-color);
    position: relative; 
}




button .disabled {
    cursor: default; 
    opacity: 0.6; 
    background:grey;
    color: var(--light-color);
}


#scoreDisplay {
    font-weight: bold;
    color: var(--off-white);
    float: right;  
    margin-right: 10px;
}

.youtube-video {
    aspect-ratio: 16 / 9;
    width: 100%;
}

img {
    max-width:100%;
    height:auto;
}

#story-caption {
    font-family: 'Spinnaker', sans-serif;
}

#menu li a:hover {
    background-color: black;
    color: white;
}

#ui-bar #menu li a:hover {
    color: white;
}

#menu-item-saves a:before {
    content: "\2691";
    font-size:1.2rem;
    padding-right:.15rem;
}

#menu-item-restart a:before {
    content: "\02620";
    font-size:1.5rem;
    padding-right:.15rem;
}

/* Icon reference: http://www.motoslave.net/sugarcube/tmp/tme-fa-icons/ */

#ui-bar-toggle {
    right:auto;
    
}

.stowed #ui-bar-toggle {
    right:0;
}

#ui-bar-toggle:hover {
    background-color: transparent;
}

#ui-bar-toggle:before {
    content: "\e82e";
}

/* MC questions */

fieldset {
    border:none;
}

legend,
.orderingHeader {
    font-family: 'Spinnaker', sans-serif;
    font-size: 1.rem;
    margin-bottom:1rem;
    color:black;
}

@media screen and (min-width: 60rem) {
    legend,
    .orderingHeader {
        font-size: 1.33rem;
    }
}


fieldset label {
    display:block;
    margin-bottom:1rem;
    color:black;
    font-size: 1rem;
}

@media screen and (min-width: 60rem) {
    fieldset label {
        font-size: 1.33rem;
    }
}

/* Hiding the default radio button */
input[type="radio"] {
    display: none;
}

/* Styling the custom radio button */
.radio-custom {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: .15rem;
    border: 2px solid #333;
    border-radius: 50%;
    vertical-align: middle;
    margin-top:-5px;
    transition: background-color 0.3s ease;
}

input[type="radio"]:checked ~ .radio-custom {
    background-color: var(--dark-color);
}

input[type="radio"]:disabled {
    color: gray;
}

input[type="radio"]:disabled + .radio-custom ~ span {
    color: gray;  
}

input[type="radio"]:disabled:checked + .radio-custom ~ span {
    color: var(--dark-color);
}

#ui-bar-body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box; 
    padding-bottom: 2em; 
}

header {
    flex: 1;  
    padding-top: 1.5rem;
}

#story-caption {
    flex: 0;  
    line-height: 1.2;
}

h6 {
    font-size: 1.66rem; 
    font-family: 'Pirata One', cursive;
    margin:0;
    color:white;
    margin-bottom:-1rem;
}

@media screen and (min-width: 60rem) {
    h6 {
        font-size: 1.98rem; 
    }
}

p.score {
    font-size: 3rem; 
    font-family: 'Pirata One', cursive;
    color: var(--off-white);
    margin:0;
}
.fractop {
    vertical-align: 50%;
}

.fracbar {
  font-size:6rem;
}

#menu,
#ui-bar-body>:not(:first-child) {
    margin-top:0;
}

#submitOrder {
    background-color: var(--dark-color);
    color: var(--off-white);
    border:none;
    padding: .5rem 1.5rem;
    margin: 1rem 0;
}

#submitOrder:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
}

.incorrectFeedback,
.correctFeedback {
    margin: 1rem 0;
    padding: 1rem;
    background: var(--light-color);
    border: 1px solid var(--dark-color);
    border-radius: 3px;
    color: var(--dark-color);
}

.incorrectFeedback a {
    color: var(--off-white);
}

.nextButton a {
    -webkit-appearance: button;
    text-align: left;
    -webkit-text-size-adjust: 100%;
    --dark-color: #07062E;
    --light-color: #7fa4bc;
    --off-white: #ececf1;
    font: inherit;
    text-transform: none;
    line-height: normal;
    user-select: none;
    background-color: transparent;
    cursor: pointer;
    color: #68d;
    text-decoration: none;
    transition-duration: .2s;
    line-height: normal;
    transition-duration: .2s;
    user-select: none;
    cursor: not-allowed!important;
    background-color: var(--dark-color);
    color: var(--off-white);
    border: none;
    padding: .5rem 1.5rem;
    margin: 1rem 0;
}

.nextButton a:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
}

.note {
    color: var(--light-color);
    font-style: italic;
}

.passage ul {
    color: var(--dark-color);
    font-family: 'Spinnaker', sans-serif;
    font-size:1rem;

}

@media screen and (min-width: 60rem) {
    .passage ul {
        font-size: 1.33rem; 
    }
}

hr {
    border-top: 1px dashed var(--light-color);
}

.youtube-embed {
    aspect-ratio: 16 / 9;
    width: 100%;
}

input[type="text"] {
    color: var(--dark-color);
}
input[type="text"]:active,
input[type="text"]:hover,
input[type="text"]:focus {
    background: var(--light-color);
    border:1px solid var(--dark-color);
    color: var(--dark-color);
}

.invalidInputFeedback {
    color:red;
}

.sectionLink {
    display: block;
    text-align: center;
}

.sectionLink .link-internal {
    display: inline-block;
    width: 100%;
    height: 33vh; /* Explicit height */
    line-height: 33vh; /* Match the height to vertically center the text */
    border: 2px solid var(--off-white);
    background-color: var(--dark-color);
    text-decoration: none; 
    color: var(--off-white);
    transition: background-color 0.3s;
    font-family: 'Pirata One', cursive;
    font-size: 3.33rem;
    text-align: center; 
    vertical-align: middle;
}

@media screen and (min-width: 60rem) {
    .sectionLink .link-internal {
        font-size: 5.33rem;
    }
}

.sectionLink .link-internal:hover {
    background-color: var(--light-color);
    cursor: pointer;
    border:2px solid var(--dark-color);
}

.sectionLink .link-internal:focus {
    outline: none; 
}

#safetyQuiz .link-internal {
    background-image: url('assets/safety.webp');
    background-position: bottom left;
    background-size: cover;
}

#bawraQuiz .link-internal {
    background-image: url('assets/bawra.webp');
    background-position: center center;
    background-size: cover;
}

#techniqueQuiz .link-internal {
    background-image: url('assets/technique2.webp');
    background-position: bottom center;
    background-size: cover;
}

#navigationQuiz .link-internal {
    background-image: url('assets/navigation.webp');
    background-position: bottom center;
    background-size: cover;
}

#roadRulesQuiz .link-internal {
    background-image: url('assets/roadRules.webp');
    background-position: bottom center;
    background-size: cover;
}

.toc {
        list-style-type: decimal; 
        padding-left: 20px;
        color: var(--dark-color);
}

#passage-conclusion h2 {
    text-align: center;
}

#passage-conclusion h3 {
    color: var(--dark-color);
    font-family: 'Pirata One', cursive;
    font-size:3rem;   
    text-align:center;
    margin-top: 0;
    padding: 0;
}